<div class="parallax-image" style="background-image: url(<%= start.picture_url %>)">
  <h1 class="parallax-center">
    <%= start.title.upcase %> <br>
    <% if start.features == "news" %>
      <%= link_to 'SPRAWDŹ', posts_path, class: "btn btn-outline-light btn-pointer" %>
    <% elsif start.features == "events" %>
      <%= link_to 'PRZEGLĄDAJ', '#', class: "btn btn-outline-light btn-pointer" %>
    <% elsif start.features == "join" %>
      <% if !author_signed_in? %>
        <%= link_to 'ZAREJESTRUJ SIĘ', new_author_registration_path, class: "btn btn-light btn-pointer" %>
        /
        <%= link_to 'ZALOGUJ', author_session_path, class: "btn btn-outline-light btn-pointer" %>
      <% else %>
        <%= link_to current_author.name, posts_path, class: "btn btn-outline-light btn-pointer" %>
      <% end %>
    <% elsif start.features == "search" %>
      <div class="test">
        <input class="form-control centered" type="text" placeholder="Szukaj">
      </div>
    <% end %>
  </h1>
</div>
