<p id="notice"><%= notice %></p>

<p>
  <strong>Picture url:</strong>
  <%= @start.picture_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @start.title %>
</p>

<%= link_to 'Edit', edit_start_path(@start) %> |
<%= link_to 'Back', starts_path %>
