<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Sportomat', posts_path, class: "navbar-brand" %>
  <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Aktualności', posts_path, class: "nav-link #{yield(:post_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Wydarzenia', events_path, class: "nav-link #{yield(:events_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'O nas', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Kontakt', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li>

      <% if !author_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Zaloguj', author_session_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if author_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle author-nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag(current_author.gravatar_image_url) %>
            <%= current_author.display_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to number_to_currency(current_author.money, unit: "zł", separator: ",", delimiter: "", format: "%n %u"), '#', class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Moje bilety', authors_tickets_path, class: "dropdown-item #{yield(:tickets_active)}" %>
            <% if current_author.admin? %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Strona tytułowa', authors_starts_path, class: "dropdown-item #{yield(:start_page_active)}" %>
              <%= link_to 'Artykuły', authors_posts_path, class: "dropdown-item #{yield(:author_post_active)}" %>
              <%= link_to 'Wydarzenia', authors_events_path, class: "dropdown-item #{yield(:author_events_active)}" %>
              <%= link_to 'Zwroty', authors_returns_path, class: "dropdown-item #{yield(:author_returns_active)}" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Konto', authors_account_path, class: "dropdown-item #{yield(:author_settings_active)}" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Wyloguj', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
