<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Biletomat', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Aktualności', posts_path, class: "nav-link #{yield(:post_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'O nas', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Kontakt', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li>

      <% if !author_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Zaloguj', author_session_path, class: "nav-link"%>
        </li>
      <% end %>

      <% if author_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Twój profil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Strona Główna', authors_starts_path, class: "dropdown-item #{yield(:start_page_active)}" %>
            <%= link_to 'Moje bilety', authors_tickets_path, class: "dropdown-item #{yield(:tickets_active)}" %>
            <%= link_to 'Posty', authors_posts_path, class: "dropdown-item #{yield(:author_post_active)}" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Wyloguj', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
